<!DOCTYPE HTML>
<html ng-app="mainapp">
<head>
	<title>ORS Simulator</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/style.css" />
	<script type="text/javascript" src="assets/js/Utils.js"></script>
	<script type="text/javascript" src="assets/js/IdGenerator.js"></script>
	<script type="text/javascript" src="assets/js/DateTime.js"></script>
	<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../bower_components/jquery-nicescroll/jquery.nicescroll.min.js"></script>
	<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>

	<script type="text/javascript" src="app/components/data/InitData.js"></script>
	<script type="text/javascript" src="app/components/directive/EnterHandleDirective.js"></script>
	<script type="text/javascript" src="app/components/directive/CommandHandleDirective.js"></script>
	<script type="text/javascript" src="app/components/directive/UppercaseDirective.js"></script>
	<script type="text/javascript" src="app/components/secinfo/Secinfo.js"></script>
	<script type="text/javascript" src="app/components/secinfo/Validator.js"></script>
	<script type="text/javascript" src="app/components/secinfo/SecInfoController.js"></script>
	<script type="text/javascript" src="app/components/account/Account.js"></script>
	<script type="text/javascript" src="app/components/account/Validator.js"></script>
	<script type="text/javascript" src="app/components/account/AccountController.js"></script>
	<script type="text/javascript" src="app/components/aftype/AfType.js"></script>
	<script type="text/javascript" src="app/components/aftype/AfTypeController.js"></script>
	<script type="text/javascript" src="app/components/basket/Basket.js"></script>
	<script type="text/javascript" src="app/components/basket/BasketController.js"></script>
	<script type="text/javascript" src="app/components/exchange/ExchangeController.js"></script>
	<script type="text/javascript" src="app/components/exchange/Matcher.js"></script>
	<script type="text/javascript" src="app/components/order/OrderStore.js"></script>
	<script type="text/javascript" src="app/components/order/Order.js"></script>
	<script type="text/javascript" src="app/components/order/Validator.js"></script>
	<script type="text/javascript" src="app/components/priceboard/PriceBoard.js"></script>
	<script type="text/javascript" src="app/components/priceboard/PriceBoardController.js"></script>
	<script type="text/javascript" src="app/components/orderbook/OrderBookController.js"></script>
	<script type="text/javascript" src="app/components/dock/DockService.js"></script>
	<script type="text/javascript" src="app/components/dock/DockController.js"></script>
	<script type="text/javascript" src="app/components/robot/LogScreen.js"></script>
	<script type="text/javascript" src="app/components/robot/Interpreter.js"></script>
	<script type="text/javascript" src="app/components/robot/RobotController.js"></script>

	<script type="text/javascript" src="app/TabController.js"></script>
	<script type="text/javascript" src="app/MainApp.js"></script>
</head>
<body>
	<div id="wrap" class="container" ng-controller="TabsCtrl">
		<nav class="navbar navbar-inverse">
			<div class="navbar-header">
		      	<a class="navbar-brand">SIMULATOR</a>
		    </div>
		  <div class="container-fluid">
		    <div id="tabs">
		      	<ul class="nav navbar-nav">
		      		<li ng-repeat="tab in tabs" 
               			ng-class="{active:isActiveTab(tab.url)}" 
                		ng-click="onClickTab(tab)"><a>{{tab.title}}</a>
            		</li>
            		<li class="dropdown">
			          	<a class="dropdown-toggle" data-toggle="dropdown" href="#">Setting
			          	<span class="caret"></span></a>
			          	<ul class="dropdown-menu">
			            	<li ng-repeat="tab in tabsSetting" 
		               			ng-class="{active:isActiveTab(tab.url)}" 
		                		ng-click="onClickTab(tab)"><a>{{tab.title}}</a>
		            		</li>
			          	</ul>
			        </li>
		      	</ul>
		    </div>
		  </div>
		</nav>
		
		<div id="main-content">
			<div ng-include="currentTab"></div>
		</div>
		<!--div ng-include="'dock.html'" ng-controller="DockController" ng-show="isShowDock"></div-->
	</div>
</body>
</html>