<div id="price-board" ng-controller="PriceBoardController">
	<div class="col-sm-12">
		<table class="table table-bordered">
	        <thead>
				<tr>
					<th rowspan="2" class="vertical">Sym</th>
					<th rowspan="2" class="vertical">Ref</th>
					<th rowspan="2" class="vertical">Ceil</th>
					<th rowspan="2" class="vertical">Floor</th>
					<th rowspan="2" class="vertical">Total</th>
					<th colspan="6">Buy</th>
					<th colspan="2">Match</th>
					<th colspan="6">Sell</th>
				</tr>
				<tr>
					<th>PX 3</th>
					<th>Qty 3</th>
					<th>PX 2</th>
					<th>Qty 2</th>
					<th>PX 1</th>
					<th>Qty 1</th>
					<th>Match PX</th>
					<th>Match Qty</th>
					<th>PX 1</th>
					<th>Qty 1</th>
					<th>PX 2</th>
					<th>Qty 2</th>
					<th>PX 3</th>
					<th>Qty 3</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in board">
					<td class="symbol" style="width: 100px;" ng-bind="row.symbol">></td>
					<td class="ref" ng-bind="row.ref"></td>
					<td class="ceil" ng-bind="row.ceil"></td>
					<td class="floor" ng-bind="row.floor"></td>
					<td ng-bind="row.total"></td>
					<td><span ng-class="updateColor(row.buy[2].px, row.ref)" ng-if="row.buy[2].px > 0 && row.buy[2].qty > 0" ng-bind="row.buy[2].px"></span></td>
					<td><span ng-class="updateColor(row.buy[2].px, row.ref)" ng-if="row.buy[2].px > 0 && row.buy[2].qty > 0" ng-bind="row.buy[2].qty"></span></td>
					<td><span ng-class="updateColor(row.buy[1].px, row.ref)" ng-if="row.buy[1].px > 0 && row.buy[1].qty > 0" ng-bind="row.buy[1].px"></span></td>
					<td><span ng-class="updateColor(row.buy[1].px, row.ref)" ng-if="row.buy[1].px > 0 && row.buy[1].qty > 0" ng-bind="row.buy[1].qty"></span></td>
					<td><span ng-class="updateColor(row.buy[0].px, row.ref)" ng-if="row.buy[0].px > 0 && row.buy[0].qty > 0" ng-bind="row.buy[0].px"></span></td>
					<td><span ng-class="updateColor(row.buy[0].px, row.ref)" ng-if="row.buy[0].px > 0 && row.buy[0].qty > 0" ng-bind="row.buy[0].qty"></span></td>
					<td style="width: 100px;"><span ng-class="updateColor(row.matchPx, row.ref)" ng-if="row.matchPx > 0" ng-bind="row.matchPx"></span></td>
					<td style="width: 100px;"><span ng-class="updateColor(row.matchPx, row.ref)" ng-if="row.matchQty > 0" ng-bind="row.matchQty"></span></td>
					<td><span ng-class="updateColor(row.sell[0].px, row.ref)" ng-if="row.sell[0].px > 0 && row.sell[0].qty > 0" ng-bind="row.sell[0].px"></span></td>
					<td><span ng-class="updateColor(row.sell[0].px, row.ref)" ng-if="row.sell[0].px > 0 && row.sell[0].qty > 0" ng-bind="row.sell[0].qty"></span></td>
					<td><span ng-class="updateColor(row.sell[1].px, row.ref)" ng-if="row.sell[1].px > 0 && row.sell[1].qty > 0" ng-bind="row.sell[1].px"></span></td>
					<td><span ng-class="updateColor(row.sell[1].px, row.ref)" ng-if="row.sell[1].px > 0 && row.sell[1].qty > 0" ng-bind="row.sell[1].qty"></span></td>
					<td><span ng-class="updateColor(row.sell[2].px, row.ref)" ng-if="row.sell[2].px > 0 && row.sell[2].qty > 0" ng-bind="row.sell[2].px"></span></td>
					<td><span ng-class="updateColor(row.sell[2].px, row.ref)" ng-if="row.sell[2].px > 0 && row.sell[2].qty > 0" ng-bind="row.sell[2].qty"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>