<div id="robottest" ng-controller="RobotController">
	<div id="testcases" class="col-sm-3">
		<div class="testcase">
			<div class="box-title">TestCase</div>
			<div class="box-content">
				<ul>
					<li ng-class="{selected: test.name === selectedTest}" ng-repeat="test in testcases" ng-click="setSelected(test.name)">
						<input type="checkbox" ng-model="test.chose" ng-true-value="true" ng-false-value="false">
						{{test.name}}
						<img alt="Selected" ng-src="images/circle-{{test.status}}.png" height="16px" ng-show="test.status != undefined && test.status != ''"/>
					</li>
				</ul>
			</div>
		</div>
		<div class="resource">
			<div class="box-title">Keywords</div>
			<div class="box-content">
				<ul>
					<li ng-repeat="keyword in keywords">
						<span class="return" ng-bind="keyword.return"></span>
						<span ng-bind="keyword.function"></span>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div id="testcase-editor" class="">
		<div class="run">
			<h4 ng-bind="testTitle"></h4>
			<input class="btn btn-md grey_button" type="submit" value="Run Test" ng-click="runtest()"/>
			<img class="save" alt="Save" src="images/save.png" height="25px" ng-click="save()" ng-show="!isSave"/>
		</div>
		<div class="status-bar" ng-class="{'':testPass=='', 'green':testPass=='true', 'red':testPass=='false'}"></div>
		
		 <textarea rows="22" ng-bind="testContent" ng-keyup="editTestcase()" ng-show="isClickTest">
		</textarea> 
		
	</div>

	<div id="console" ng-class="isLarge?'large':'small'" ng-init="isLarge=false">
		<img class="resizeBox" alt="Resize" src="images/resize.png" height="25px" ng-click="isLarge = !isLarge"/>
		<div class="logData">
			<p ng-repeat="log in logData track by $index" ng-bind="log"></p>
		</div>
	</div>

</div>
<script>
	$(document).ready(function() {
		$("#testcases .testcase").niceScroll({cursorborder:"",cursorcolor:"#ddd",boxzoom:false});
		$("#testcases .resource").niceScroll({cursorborder:"",cursorcolor:"#ddd",boxzoom:false});
		$("#console").niceScroll({cursorborder:"",cursorcolor:"#ddd",boxzoom:false});
		$("#testcase-editor textarea").niceScroll({cursorborder:"",cursorcolor:"#ddd",boxzoom:false});
  	});
</script>