<div id="dock" ng-show="placeBoxShow" ng-init="placeBoxShow = true">
	<div id="placeOrder">
		<div class="placeOrderForm form-inline">
			
			<span>Tài Khoản</span>
			<input class="form-control" type="text" name="account" focus-me="{{accountFocus}}" ng-enter="accountInput()" ng-model="orderPlace.account" ng-change="refreshAccount()"/>
			<span>Mã</span>
			<input class="form-control" type="text" name="symbol" focus-me="{{symbolFocus}}" ng-enter="symbolInput()" ng-model="orderPlace.symbol" uppercased ng-change="refeshSymbol()"/>
			<span>Lệnh</span>
			<select class="form-control" ng-model="orderPlace.side" ng-change="onSideChange()">
					<option value="Sell">Bán</option>
					<option value="Buy">Mua</option>
			</select>
			<span>Loại Lệnh</span>
			<select class="form-control" ng-model="orderPlace.type" ng-change="onTypeChange()">
					<option value="LO">LO</option>
					<option value="ATO">ATO</option>
					<option value="ATC">ATC</option>
					<option value="MOK">MOK</option>
					<option value="MAK">MAK</option>
					<option value="MTL">MTL</option>
					<option value="MP">MP</option>
			</select>
			<span>Khối Lượng</span>
			<input class="form-control" type="text" focus-me="{{quantityFocus}}" ng-enter="quantityInput()" name="quantity" ng-model="orderPlace.qty"/>
			<span>Giá</span>
			<input class="form-control" type="text" focus-me="{{priceFocus}}" ng-enter="priceInput()" name="price" ng-model="orderPlace.price" ng-change="onPriceChange()"/>
			<input type="button" class="btn btn-lg {{buttonColor}}" type="submit" value="Đặt Lệnh" ng-click="place()"/>
		</div>
		<div id="info">
			<div class="exchange">
				<span class="des">[HNX]</span>
				<span class="session new" ng-class="{CLOSE:'close', OPEN1:'open', OPEN2:'open'}[dockInfo.session.HNX]" ng-bind="dockInfo.session.HNX"></span>
				<span class="des">[HOSE]</span>
				<span class="session new" ng-class="{CLOSE:'close', OPEN1:'open', OPEN2:'open'}[dockInfo.session.HOSE]" ng-bind="dockInfo.session.HOSE"></span>
			</div>
			<div class="account">
				<span class="des">[ACC]</span>
				<span class="acc" ng-bind="dockInfo.acc"></span>
				<span class="pp0" ng-bind="dockInfo.pp0"></span>
				<span class="trade" ng-bind="dockInfo.trade"></span>
			</div>
			<div class="security">
				<span class="des">[SYM]</span>
				<span class="sym" ng-bind="dockInfo.sym"></span>
				<span class="floor" ng-bind="dockInfo.floor"></span>
				<span class="ceil" ng-bind="dockInfo.ceil"></span>
			</div>
			<div class="command">
				<input class="form-control" type="text" name="account" focus-me="{{commandFocus}}" ng-model="command.key" ng-keyup="commandPress()" ng-enter="place()" autofocus uppercased placeholder="COMMAND"/>
			</div>
		</div>
		<div id="closeDock">
			<span class="glyphicon glyphicon-remove-circle"  ng-click="placeBoxShow=false"></span>
		</div>
	</div>
</div>
<div id="placeOrderButton">
	<input class="btn btn-lg grey_button" type="submit" value="Đặt Lệnh" ng-show="!placeBoxShow" ng-click="placeBoxShow=true"/>
</div>
