<div id="dock" ng-show="placeBoxShow" ng-init="placeBoxShow = true">
	<div id="placeOrder">
		<div class="placeOrderForm form-inline">
			
			<span>Account</span>
			<input class="form-control" type="text" name="account" focus-me="{{accountFocus}}" ng-enter="accountInput()" ng-model="orderPlace.account" ng-change="refreshAccount()"/>
			<span>sYmbol</span>
			<input class="form-control" type="text" name="symbol" focus-me="{{symbolFocus}}" ng-enter="symbolInput()" ng-model="orderPlace.symbol" uppercased ng-change="refeshSymbol()"/>
			<span>Side</span>
			<select class="form-control" ng-model="orderPlace.side" ng-change="onSideChange()">
					<option value="Sell">Sell</option>
					<option value="Buy">Buy</option>
			</select>
			<span>Quantity</span>
			<input class="form-control" type="text" focus-me="{{quantityFocus}}" ng-enter="quantityInput()" name="quantity" ng-model="orderPlace.qty"/>
			<span>Price</span>
			<input class="form-control" type="text" focus-me="{{priceFocus}}" ng-enter="priceInput()" name="price" ng-model="orderPlace.price" ng-change="onPriceChange()"/>
			<input type="button" class="btn btn-lg {{buttonColor}}" type="submit" value="Place Order" ng-click="place()"/>
		</div>
		<div id="info">
			<div class="exchange">
				<span class="des">[EX]</span>
				<span class="session" ng-class="dockInfo.session=='OPEN' ? 'exopen' : 'exclose'" ng-bind="dockInfo.session"></span>
			</div>
			<div class="account">
				<span class="des">[ACC]</span>
				<span class="acc" ng-bind="dockInfo.acc"></span>
				<span class="pp0" ng-bind="dockInfo.pp0"></span>
				<span class="trade" ng-bind="dockInfo.trade"></span>
			</div>
			<div class="security">
				<span class="des">[SYM]</span>
				<span class="sym" ng-bind="dockInfo.sym"></span>
				<span class="floor" ng-bind="dockInfo.floor"></span>
				<span class="ceil" ng-bind="dockInfo.ceil"></span>
			</div>
			<div class="command">
				<input class="form-control" type="text" name="account" focus-me="{{commandFocus}}" ng-model="command.key" ng-keyup="commandPress()" ng-enter="place()" autofocus uppercased placeholder="COMMAND"/>
			</div>
		</div>
		<div id="closeDock">
			<span class="glyphicon glyphicon-remove-circle"  ng-click="placeBoxShow=false"></span>
		</div>
	</div>
</div>
<div id="placeOrderButton">
	<input class="btn btn-lg grey_button" type="submit" value="Place Order" ng-show="!placeBoxShow" ng-click="placeBoxShow=true"/>
</div>
