<div id="secinfo" ng-controller="ExSecInfoController">
	<div class="search-box well form-inline">
			<div class="search-input">
				<input class="form-control" type="text" style="width:400px;" ng-model="search.symbol" ng-enter="search()" placeholder="Mã Chứng Khoán"/>
			</div>
	</div>
	<div class="col-sm-12">
		<div class="add">
			<span class="glyphicon glyphicon-plus" ng-click="mask=true;popupOpen=true;openAddBox()"></span>
		</div>
	</div>
	<div class="result_box col-sm-12">
		<table class="secinfo table table-striped">
			<colgroup>
	            <col width="20%" />
	            <col width="20%" />
	            <col width="20%" />
	            <col width="15%" />
	            <col width="15%" />
	            <col width="10%" />
	        </colgroup>
	        <thead>
				<tr>
					<th>Mã Chứng Khoán</th>
					<th>Giá Sàn</th>
					<th>Giá Tham Chiếu</th>
					<th>Giá Trần</th>
					<th>Trạng Thái</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="sec in secs | filter: {symbol: search.symbol}">
					<td ng-bind="sec.symbol"></td>
					<td ng-bind="sec.floor"></td>
					<td ng-bind="sec.ref"></td>
					<td ng-bind="sec.ceil"></td>
					<td ng-bind="sec.status"></td>
					<td class="action">
						<span class="glyphicon glyphicon-remove right" ng-click="remove(sec)"></span>
						<span class="glyphicon glyphicon-pencil right" ng-click="openEditBox(sec)"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div ex-secinfo-add ng-cloak></div>
	<div id="mask" ng-show="mask"></div>
</div>