<div id="exchange" ng-controller="ExchangeController">
	<div id="orderBuy" class="col-sm-6">
		<table class="table table-striped table-bordered">
			<thead>
			<tr>
				<th>TIME</th>
				<th>ORDID</th>
				<th>ACCOUNT</th>
				<th>SYMBOL</th>
				<th>SIDE</th>
				<th>QTY</th>
				<th>PRICE</th>
				<th>TYPE</th>
				<th>EX</th>
			</tr>
			</thead>
			<tbody>
			 	<tr ng-repeat="order in orderBuy track by $index" ng-if="order.remain > 0">
					<td ng-bind="order.time"></td>
					<td ng-bind="order.orderID"></td>
					<td ng-bind="order.account"></td>
					<td ng-bind="order.symbol"></td>
					<td ng-bind="order.side"></td>
					<td ng-bind="order.remain"></td>
					<td ng-bind="order.price"></td>
					<td ng-bind="order.type"></td>
					<td ng-bind="order.ex"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="orderSell" class="col-sm-6">
		<table class="table table-striped table-bordered">
			
			<thead>
			<tr>
				<th>TIME</th>
				<th>ORDID</th>
				<th>ACCOUNT</th>
				<th>SYMBOL</th>
				<th>SIDE</th>
				<th>QTY</th>
				<th>PRICE</th>
				<th>TYPE</th>
				<th>EX</th>
			</tr>
			</thead>
			<tbody>
			 	<tr ng-repeat="order in orderSell track by $index" ng-if="order.remain > 0">
					<td ng-bind="order.time"></td>
					<td ng-bind="order.orderID"></td>
					<td ng-bind="order.account"></td>
					<td ng-bind="order.symbol"></td>
					<td ng-bind="order.side"></td>
					<td ng-bind="order.remain"></td>
					<td ng-bind="order.price"></td>
					<td ng-bind="order.type"></td>
					<td ng-bind="order.ex"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>