<div id="basket" ng-controller="BasketController">
	<div class="col-sm-12">
		<div class="add">
			<img  alt="Add SecInfo" class="add_item" src="images/add.png" height="30px" ng-click="mask=true;popupOpen=true;openAddBox()"/>
		</div>
	</div>
	<div class="result_box col-sm-12">
		<table class="secinfo table table-striped">
			<colgroup>
	            <col width="20%" />
	            <col width="60%" />
	            <col width="20%" />
	        </colgroup>
	        <thead>
				<tr>
					<th>BasketID</th>
					<th>Data</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="bak in aftypes">
					<td ng-bind="bak.id"></td>
					<td>
						<span ng-repeat="data in bak.data">
							{{data.symbol}}:{{data.price}}
							{{$last ? '' : ', '}}
						</span>
					</td>
					<td>
						<img alt="Edit" src="images/remove.png" height="25px" ng-click="remove(bak)"/>
						<img alt="Edit" src="images/edit.png" height="25px" ng-click="openEditBox(bak)"/>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div basket-add></div>
	<div id="mask" ng-show="mask"></div>
</div>