<!DOCTYPE HTML>
<html ng-app="mainapp">
<head>
<title>ORS Simulator</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<div id="wrap" class="container" ng-controller="TabsCtrl">
		<nav class="navbar navbar-inverse">
			<div class="navbar-header">
		      	<a class="navbar-brand">SIMULATOR</a>
		    </div>
		  <div class="container-fluid">
		    <div id="tabs">
		      	<ul class="nav navbar-nav">
		      		<li ng-repeat="tab in tabs" 
               			ng-class="{active:isActiveTab(tab.url)}" 
                		ng-click="onClickTab(tab)"><a>{{tab.title}}</a>
            		</li>
            		<li class="dropdown">
			          	<a class="dropdown-toggle" data-toggle="dropdown" href="#">Setting
			          	<span class="caret"></span></a>
			          	<ul class="dropdown-menu">
			            	<li ng-repeat="tab in tabsSetting" 
		               			ng-class="{active:isActiveTab(tab.url)}" 
		                		ng-click="onClickTab(tab)"><a>{{tab.title}}</a>
		            		</li>
			          	</ul>
			        </li>
		      	</ul>
		    </div>
		  </div>
		</nav>
		
		<div id="main-content">
			<div ng-include="currentTab"></div>
		</div>
		<div ng-include="'dock.html'" ng-controller="DockController" ng-show="isShowDock"></div>
	</div>
	<script data-main="main" src="js/config.js"></script>
	<script data-main="main" src="bower_components/requirejs/require.js"></script>
</body>
</html>