<div id="order-book" ng-controller="OrderBookController">
	<div class="search-box well form-inline">
		<span>Account</span>
		<input class="form-control" type="text" name="account" ng-model="search.account"/>
		<span>Symbol</span>
		<input class="form-control" type="text" name="symbol" ng-model="search.symbol" uppercased/>
		<span>Side</span>
		<select class="form-control" ng-model="search.side">
			<option value="">All</option>
  			<option value="Sell">Sell</option>
  			<option value="Buy">Buy</option>
		</select>
		<span>Order Status</span>
		<select class="form-control" ng-model="search.status">
			<option value="">All</option>
  			<option value="Pending New">Pending New</option>
		  	<option value="New">New</option>
		  	<option value="Filled">Filled</option>
		  	<option value="Partially Filled">Partially Filled</option>
		  	<option value="Canceled">Canceled</option>
		  	<option value="ORS Rejected">ORS Rejected</option>
		  	<option value="Rejected">Rejected</option>
		  	<option value="Expired">Expired</option>
		  	<option value="Done For Day">Done For Day</option>
		</select>
		<input class="btn red_button right" type="submit" value="Unhold All" ng-click="unholdAll();"/>
	</div>
	<div id="orderBook" class="col-sm-12">
		<table class="table table-striped table-bordered">
			 <colgroup>
	            <col width="8%" />
	            <col width="8%" />
	            <col width="8%" />
	            <col width="6%" />
	            <col width="6%" />
	            <col width="6%" />
	            <col width="6%" />
	            <col width="8%" />
	            <col width="8%" />
	            <col width="8%" />
	            <col width="8%" />
	            <col width="12%" />
	            <col width="8%" />
	        </colgroup>
			<thead>
			<tr>
				<th>TIME</th>
				<th>ID</th>
				<th>ACC</th>
				<th>SYM</th>
				<th>SIDE</th>
				<th>TYPE</th>
				<th>QTY</th>
				<th>PRICE</th>
				<th>Match QTY</th>
				<th>Last PX</th>
				<th>REMAIN</th>
				<th>STATUS</th>
				<th>ACTION</th>
			</tr>
			</thead>
			<tbody>
			 	<tr ng-repeat="order in orders | filter: {account: search.account, symbol: search.symbol, side: search.side, status: search.status} | orderBy:'originalID':true " ng-click="openDetailBox(order.originalID)">
					<td ng-bind="order.time" class="time" ng-class="(order.side == 'Buy')? 'buyBorder' : 'sellBorder'"></td>
					<td ng-bind="order.orderID"></td>
					<td ng-bind="order.account"></td>
					<td ng-bind="order.symbol"></td>
					<td ng-bind="order.side"></td>
					<td ng-bind="order.type"></td>
					<td ng-bind="order.qty"></td>
					<td ng-bind="order.price"></td>
					<td ng-bind="order.avgQty"></td>
					<td ng-bind="order.avgPX"></td>
					<td ng-bind="order.remain"></td>
					<td class="status" ng-bind="order.status"></td>
					<td class="action">
						<span class="glyphicon glyphicon-pencil" ng-click="openReplaceBox(order);$event.stopPropagation();" ng-show="isHNXOrder(order.symbol)"></span>
						<span class="glyphicon glyphicon-remove" ng-click="cancel(order);$event.stopPropagation();"></span>
						<span class="glyphicon glyphicon-off" ng-click="unhold(order);$event.stopPropagation();"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div order-detail></div>
	<div order-replace></div>
	<div mask></div>
</div>