@CHARSET "ISO-8859-1";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.woff');
}

body, html {
	margin: 0;
	padding: 0;
	background-color: #2a2a2a;
}

html * {
    outline: 0 !important;
}

img {
	cursor: pointer;
}

span.glyphicon, .glyphicon {
	cursor: pointer;
}

span.glyphicon:hover, .glyphicon:hover {
	opacity: 0.6;
}

.navbar {
	left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.welcome {
	font-size: 200px;
	text-align: center;
}

#logo .version{
	font-size: 10px;
	color: white;
}

#logo .d {
	color: #f7941d;
	font-weight: bold;
	padding-right: 2px;
}

#tabs .account {
	float: right;
	padding: 10px 0;
}

.lessons-btn {
	padding: 0 10px;
	color: white;
	background: #f7941d;
	padding-left: 5px;
	position: fixed;
	top: 15px;
	right: 5px;
	height: 35px;
	line-height: 35px;
	border-radius: 3px 3px 0 0;
	cursor: pointer;
	z-index: 99999;
	width: 130px;
	text-align: center;
}
.lessons-btn span{
	padding: 0 10px;
	font-weight: bold;
}
.lessons-btn span.glyphicon{
	padding: 0;
	float: right;
	padding-top: 10px;
}
.account span.glyphicon-user {
	color: #777;
	font-size: 20px;
	padding-left: 5px;
}

#tabs .account {
	color: #eee;
	font-weight: bold;
	font-size: 13px;
}

.col-sm-12, .col-sm-3, .col-sm-8 {
    padding: 0;
}

#sub-tabs .navbar-nav > li > a {
    padding-bottom: 5px;
    padding-top: 5px;
}

#sub-tabs .navbar-nav > li {
    border-bottom: 1px solid #222;
}

#sub-tabs .navbar-nav > li > a:hover {
    background: #222 !important;
}

.navbar-inverse {
	border: 0;
}

#sub-tabs .navbar-nav > li.active > a, #sub-tabs .navbar-nav > li > a:focus {
    background: #222 !important;
    font-weight: bold;
}

#sub-tabs .navbar-nav > li.active{
    border-bottom: 1px solid #777;
}

#sub-tabs ul {
	margin-bottom: 0;
    margin-top: 0;
    padding-left: 65px;
}

#sub-tabs {
	height: 32px;
	border-top: 2px solid #000;
}

#wrap {
	width: 100%;
	margin: 0;
	padding: 0;
}

.form-control {
	background: #eee;
}

.table-striped td{
	color: white;
}

.table-striped > thead > tr > th {
	color: white;
}

.table-bordered > tbody > tr > td, .table-bordered > thead > tr > th {
	border:1px solid #555;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #333;
   
}

#header {
	width: 100%;
	margin: auto;
	background: #000;
	height: 50px;
	padding: 0px;
}

.header_content {
	width: 90%;
	margin: auto;
	position: relative;
}

#header h1 {
	color: #fff;
	font-size: 38px;
	margin: 0;
	text-align: center;
	padding-top: 3px;
}

.navbar .dropdown-menu {
	background: #333;
}

.navbar .dropdown-menu a{
	color: white;
}
.navbar a {
	cursor: pointer;
}
#lesson .navbar a {
	color: #333;
}
#lesson #keyword-explain {
	position: absolute;
	bottom: 255px;
	left: 25%;
	background: #f7941d;
	min-height: 100px;
	max-height: 200px;
	padding: 5px;
	right: 0;
	color: white;
}
#lesson #tabs li.active {
	font-weight: bold;
}
#lesson #keyword-explain .title{
	font-weight: bold;
}
#lesson #keyword-explain .glyphicon-remove-circle {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 20px;
}
.navbar {
	z-index: 9999;
}

#dock {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	padding-top: 5px;
	color: #222;
}

#console {
	position: fixed;
	bottom: 0;
	background-color: #000;
	right: 0;
	left: 25%;
	border-top: 2px solid #333;
	color: #ddd;
	padding: 5px;
	overflow: scroll;
}

#console p {
	padding: 0;
	margin: 0;
}

#console.small {
	height: 50px;
}

#console.large {
	height: 300px;
}

#console .glyphicon-resize-vertical {
	font-size: 25px;
	color: #777;
	position: fixed;
	right: 0;
	top: auto;
}

#closeDock {
	width: 32px;
	height: 32px;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}

#closeDock span.glyphicon-remove-circle {
	font-size: 25px;
	color: #222;
}

#loadingPlaceOrder {
	height: 50px;
	left: 50%;
	position: fixed;
	top: 35%;
	width: 50px;
}

#loadingPlaceOrder img {
	height: 60px;
	width: 60px;
}

#main-content {
	width: 100%;
	margin: auto;
	padding-top: 100px;
}

.right {
	float: right;
}

.green_text {
	color: green;
	font-weight: bold;
}

.red_text {
	color: #c00000;
	font-weight: bold;
}

.green {
	color: lime !important;
}

.red {
	color: red !important;
}

.yellow {
	color: #ffcc00;
}

.green_button {
	background: green;
	border-radius: 5px;
	color: white;
}

.btn.green_button:hover {
	color: white;
}

.grey_button {
	background: #555;
	border-radius: 5px;
	color: white;
}

.place_button {
	background: #ccc;
	border-radius: 5px;
	color: black;
	border-radius: 3px 3px 0 0 !important;
	font-weight: bold;
}

.btn.grey_button:hover {
	color: white;
}

.red_button {
	background: #C00000;
	border-radius: 5px;
	color: white;
}

.red_color {
	color: #C00000;
}

.btn.red_button:hover {
	color: white;
}

.search-box {
	background: #333 none repeat scroll 0 0;
    border-color: #333;
    color: white;
    text-align: center;
}

.search-box span{
    font-weight: bold;
    padding: 0 5px;
}

#order-book .well{
	margin-bottom: 0px;
}

.search-box .search-input{
	display: inline;
    position: relative;
    width: 400px;
}

.search-box .search-input img{
	position: absolute;
    right: 10px;
    top: 4px;
}

#placeOrder {
	border-radius: 5px;
	text-align: center;
}

#placeOrder input[type="text"]{
	width: 120px;
}

#orderQueue {
	margin: auto;
	float: none;
}

#orderSell .table-bordered thead{
	border-top: 2px solid red;
}

#orderBuy .table-bordered thead{
	border-top: 2px solid green;
}

#orderBuy {
	padding-left: 0;
	padding-right: 5px;
}
#orderSell {
	padding-right: 0;
	padding-left: 5px;
}

#orderBook .table-bordered thead, #price-board .table-bordered thead{
	border-top: 2px solid #ccc;
}

#orderBook table th, #orderSell table th , #orderBuy table th {
	background-color: #333;
	text-align: center;
}

#orderBook .action span{
	color: #777;
	font-size: 20px;
	cursor: pointer;
	padding: 0 2px;
}

#orderBook .action span.glyphicon-remove{
	color: #d22d2d;
}

#orderBook .action span.glyphicon-pencil{
	color: #339966;
}

#orderBook .action span.glyphicon-off{
	color: #ddd;
}

td.time {
	font-size: 12px;
	line-height: 22px !important;
}

#order-popup table th {
	background-color: #333;
	text-align: left;
}

#order-popup table th, #order-popup table td {
	border-color: #777;
}

#orderBook {
	padding: 0 0 50px;
}

#orderBook .action {
	text-align: right;
}

#orderBook .status{
	font-weight: bold;
}

#orderBook .action img{
	padding-left: 5px;
	cursor: pointer;
}

#orderBook td.buyBorder {
	border-left: 2px solid green;
}

#orderBook td.sellBorder {
	border-left: 2px solid red;
}

#placeOrderButton input.btn {
	background: white;
	border-radius: 5px 5px 0 0 ;
	position: fixed;
	bottom: 0;
	right: 0;
	height: 50px;
	font-size: 16px;
	color: #222;
	padding: 0;
	width: 8%;
}

#placeOrderButton input.btn:hover {
	opacity: 0.8;
}

#placeOrder .placeOrderForm {
	padding: 5px;
}

#placeOrder .placeOrderForm .btn, .search-box .btn{
	margin-left: 10px;
	font-weight: bold;
}

.btn:hover, .btn:focus{
	opacity: 0.8;
}

#info {
	background: #222;
	color: white;
	font-size: 12px;
	text-align: left;
	float: left;
	width: 100%;
	height: 30px;

}

#info .des {
	font-style: italic;
	font-size: 10px;
}

#info .session.close {
	font-weight: bold;
	color: red !important;
	font-size: 16px;
	line-height: normal;
    opacity: 1;
    text-shadow: none;
    float: none;
}

#info .session.open {
	font-weight: bold;
	color: green !important;
	font-size: 16px;
}

#info .session.new {
	font-weight: bold;
	color: yellow;
	font-size: 16px;
}

#info .security .sym {
	font-weight: bold;
}

#info .security .floor {
	color: #00ffff;
	padding-left: 5px;
}

#info .security .ceil {
	color: #cc00ff;
	padding-left: 5px;
}

#info .exchange {
	float: left;
	padding: 2px 5px;
}

#info .account {
	float: left;
	padding: 5px 20px 5px 2px;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
}

#info .account .acc{
	font-weight: bold;
}

#info span{
	padding-left: 5px;
}

#info .security {
	float: left;
	padding: 5px 2px;
}

.loading {
	text-align: center;
	height: 20px;
	display: none;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.bold {
	background-color: #ccc;
	font-weight: bold;
}

#loadingOrder {
	width: 100%;
	text-align: center;
	height: 50px;
}

.order-sort-id {
	cursor: pointer;
	color: blue;
	height: 20px;
	overflow: hidden;
}

#mask {
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}

#order-popup {
	width: 90%;
}

#order-replace {
	width: 400px;
}

#secinfo_edit, #aftype_edit {
	width: 400px;
	color: white;
}

#basket_edit {
	width: 400px;
}

#basket #basket_edit .add{
	width: 100%;
}

#account_edit {
	width: 1000px;
	color: white;
}

#account_edit input[type=text]{
	color: black;
}

#basket_edit input[type=text]{
	width: 100px;
	color: black;
}

#account_edit .trade{
	width: 60%;
	min-height: 250px;
	float: right;
}

#account_edit .trade .action img{
	float: right;
}

#account_edit .trade .action img{
	padding-left: 5px;
	cursor: pointer;
}

#account_edit .cash{
	float: left;
    width: 40%;
}

#account_edit .trade .add{
	text-align: right;
	width: 100%;
}

#account_edit .trade .input[type=text]{
	background: #333;
	border: 0;
	color: white;
	width: 100%;
}

#account_edit .action{
	padding-top: 10px;
	text-align: right;
	width: 100%;
	float: left;
}

#set_session {
	width: 300px;
}

.popup {
	background: #333;
	padding: 10px; 	
	border: 1px solid #eee;
	float: left;
	font-size: 1.2em;
	z-index: 99999;
	width: 250px;
	border-radius:3px 3px 3px 3px;
	top: 0; left: 0;right: 0;
	margin: 10% auto;
	position: fixed;
	color: white;
	font-size: 15px;
}

.popup span.glyphicon-remove-sign {
	font-size: 25px;
	color: #ddd;
	float: right;
    margin: -20px -20px 0 0;
}

.popup .btn {
	margin-top: 10px;
}

#account_edit .text {
	float: left;
	width: 140px;
	padding: 7px 0;
}

#secinfo_edit label, #aftype_edit label, .session-edit label {
	width: 105px;
	padding: 7px 0;
}

#order-replace label {
	width: 125px;
	padding: 7px 0;
}

#secinfo_edit input[type=text] {
	width: 244px;
}

#aftype_edit input[type=text] {
	width: 230px;
}

#order-replace input[type=text] {
	width: 224px;
}

.cash div {
    float: left;
}

#set_session select {
	width: 188px;
	height: 25px;
	margin: 5px;
}

#replaceButton,#editButton {
	padding-top: 5px;
	text-align: right;
}

img.btn_close {
	float: right;
	margin: -20px -20px 0 0;
	border: 0px;
	cursor: pointer;
}

.invisible {
	display: none;
}

.result_box table th {
	text-align: center;
}

.result_box table.secinfo{
	width: 60%;
	margin: auto;
}

.result_box .account-info {
	margin: auto;
}

#secinfo .add, #aftype .add, #basket .add {
	text-align: right;
	width: 60%;
	margin: auto;
	cursor: pointer;
}

.action span.glyphicon-remove {
	color: red;
	padding: 0 2px;
	font-size: 18px;
}

td.action {
	padding-right: 0px !important;
}

.action span.glyphicon-pencil {
	color: #339966;
	padding: 0 2px;
	font-size: 18px;
}

#account .add {
	text-align: right;
	margin: auto;
}

.add span{
	color: lime;
	font-size: 30px;
}

#account img{
	cursor: pointer;
}

.account_info .field {
	float: left;
    font-weight: bold;
    width: 180px;
}

.result_box .account_info div{
	padding: 3px;
}

.result_box img {
	padding-left: 10px;
	float: right;
	cursor: pointer;
}

.error {
	color: red;
    font-size: 13px;
    line-height: 30px;
}

.command {
	float: right;
}

.command input{
	background: #222;
	font-weight: bold;
	border: none;
}

#price-board td {
	font-size: 13px;
}

#price-board th {
	text-align: center;
	padding: 5px;
}

#price-board .symbol {
	color: #ffcc00;
	text-align: left;
}

#price-board .ref {
	color: #ffcc00;
}

#price-board .ceil {
	color: magenta;
}

#price-board .floor {
	color: cyan;
}

#price-board table {
	background-color: #333;
	color: white;
}

#price-board table td{
	padding: 5px;
	border-color: #777;
	text-align: right;
}

#price-board .vertical {
	line-height: 50px;
}

#price-board table td.row-focus {
	background:#2A2A2A;
}

#price-board .place_button {
	background: #333 none repeat scroll 0 0;
    height: 50px;
    position: fixed;
    right: 0;
    top: 82px;
    width: 100%;
    z-index: 9999;
}

#price-board .place_button input{
	margin-top: 16px;
	border-radius: 3px 3px 0 0;
	background: #ccc;
}
#lesson {
	background: white none repeat scroll 0 0;
    bottom: 0;
    color: black !important;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
}

#price-board .fix-header {
	position: fixed;
	top: 132px;
}
#lesson #orderbook {
	height: 200px;
	background: #2A2A2A;
	bottom: 0;
    left: 25%;
    position: fixed;
    right: 0;
    width: 75%;
    font-size: 13px !important;
    overflow: auto;
    margin-bottom: 10px;
}
#lesson #orderbook table{
	border: none;
}
#lesson #orderbook th{
	text-align: center;
	color:#ddd !important;
}
#lesson #orderbook #info{
	position: fixed;
}
#orderbook #info{
	position: absolute;
	bottom: 0;
	left: 25%;
	right: 0;
}
#lesson #learn-box {
	background: white;
	padding-top: 0;
	color: black;
}
#lesson #learn-box .content{
	padding-top: 10px;
}
#lesson #learn-box h4{
	line-height: 50px;
	margin: 0;
}
#lesson #testcases {
	background: #eee;
	color: black;
	padding-top: 0;
}
#lesson #testcases .box-content li{
	border-bottom: 1px solid #ddd;
	padding-left: 15px;
}
#lesson #testcases .box-content li.selected{
	background: #f7941d none repeat scroll 0 0;
    color: white;
}
#lesson #testcases .lessonLevel {
	line-height: 30px;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
	font-size: large;
	font-family: Arial;
}

#lesson #learn-bar {
	background: #eee;
	color: black;
	font-weight: bold;
}
#lesson #learn-bar .keyword{
	color: #1eaedb;
	cursor: pointer;
	font-weight: bold;
}
#lesson .header {
	height: 52px;
	border-bottom: 2px solid #333;
}
#lesson .header a{
	line-height: 18px;
}
#lesson .box-search {
	padding: 10px;
}
#lesson .box-search input{
	background: white !important;
	color: black !important;
}
#testcases {
	height: 100%;
	color: white;
	position: absolute;
	top: 0;
	bottom: 0;
	padding-top: 100px;
	width: 25%;
	padding-left: 5px;
}

#testcases .testcase {
	height: 90%;
	width: 100%;
}

#testcases .box-title button{
	background: green none repeat scroll 0 0;
    border: 0 none;
    color: white;
    float: right;
    font-size: 18px;
    font-weight: bold;
    padding: 2px 8px;
    position: absolute;
    right: 0;
    height: 35px;
}
#testcases .box-title input{
	color: white;
	background: #222;
	float: left;
	border-color: #777;
}
#testcases .testcase img{
	float: right;
}

#testcases .box-content ul {
	padding: 0;
}

#testcases .box-content li {
	list-style: none;
	cursor: pointer;
	padding: 5px;
	border-bottom: 2px solid #2a2a2a;
}

#testcases .box-content li.selected {
	border-bottom: 2px solid #777;
}

#testcases .box-content li:hover {
	background: #ddd;
}

#testcase-editor {
	color: #ddd;
    float: right;
    position: absolute;
    right: 2.5%;
    width: 70%;
}

#testcase-editor .status-bar{
	height: 10px;
}

#testcase-editor .status-bar.green{
	height: 10px;
	background-color: green;
}

#testcase-editor .status-bar.red{
	height: 10px;
	background-color: red;
}

#testcase-editor h4 {
	padding-left: 20px;
	float: left;
	margin: 2px;
}

#testcase-editor .content {
	border-left: 2px solid #777;
    height: 100%;
    padding-left: 10px;
}

#testcase-editor .content ul {
	padding: 0;
	border-right: 1px solid #333;
	border-top: 1px solid #333;
}

#testcase-editor .content li {
	list-style: none;
	clear: both;
	overflow: hidden;
	border-bottom: 1px solid #333;
}

#testcase-editor .content .col1 {
	float: left;
	width: 50%;
	border-right: 1px solid #333;
	padding: 5px;
}
#testcase-editor .content .col1 span{
	padding-right: 5px;
	color: red;
}

#testcase-editor .content .col2 {
	float: left;
	width: 50%;
	padding: 5px;
}
#learn-box .title{
	background: #F8F8F8;
	height: 52px;
	border-bottom: 2px solid #333;
}

#learn-box h4{
	padding-left: 10px;
}

#learn-box .content {
	height: 100%;
}
#learn-box .mask .lesson-btn {
	background: green none repeat scroll 0 0;
    border-radius: 5px;
    color: white;
    margin: auto;
    text-align: center;
    width: 120px;
    line-height: 50px;
    cursor: pointer;
    margin-top: 10%;
}
#learn-box .mask {
	height: 100%;
	width: 100%;
	background: #fff;
	z-index: 999;
}
#learn-box .mask h3{
	text-align: center;
	margin-top: 100px;
}
#learn-box ul {
	list-style: none;
	padding: 0;
}

#learn-box .lineActive {
	background: #ddd;
}

#learn-box ul li{
	padding: 0 10px;
	line-height: 30px;
}

#testcase-editor .save{
	float: right;
	padding-top: 5px;
	padding-right: 5px;
}

#testcase-editor textarea{
	background-color: #333;
	border: none;
	padding: 20px;
	width: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.box-title {
	background: #333;
	padding: 5px;
	font-weight: bold;
	color: white;
	line-height: 30px;
	overflow: hidden;
}

#robottest .box-content {
	padding: 5px;
	color: #ddd;
}

#robottest .resource {
	border: 1px solid #333;
}

#robottest .resource li{
	margin: 0;
	padding: 0;
}

#robottest .resource .return{
	color: magenta;
}

#testcase-editor .run {
	padding-bottom: 5px;
	overflow: hidden;
	height: 30px;
}

#testcase-editor .run span{
	font-size: 25px;
    line-height: 25px;
    color: #7BBF6A;
}

.blink {
	background-color: #ffcc00 !important;
	color: #000 !important;
}

.blink span{
	color: #000 !important;
}

#monitor {
	margin: auto;
    text-align: center;
    height: 70px;
    width: 1200px;
}

#monitor .btn-primary {
	text-align: left;
}

#monitor .box-name {
	color: white;
	font-size: 30px;
	padding-bottom: 10px;
}

#monitor .exchange-name {
	font-weight: bold;
	font-size: 30px;
	color: #777;
	padding-bottom: 10px;
}

#monitor button {
	border-radius: 0;
}

#monitor .hnx {
	width: 600px;
	float: left;
}

#monitor .hose {
	width: 600px;
	float: right;
}

#monitor .monitor-detail {
	float: left;
	color: white;
	width: 350px;
	text-align: left;
}

#monitor .module {
	height: 50px;
	padding: 10px;
}

#monitor .module .session {
	font-weight: bold;
	line-height: 30px;
	padding-right: 10px;
}

#monitor .module-name {
	color: white;
	width: 100px;
	line-height: 30px;
	float: left;
	text-align: left;
}


#monitor .btn-session {
	font-weight: bold;
	border-radius: 0px;
	background: white;
	width: 70px;
	height: 30px;
	line-height: 30px;
	float: left;
	cursor: pointer;
}

#monitor span.glyphicon-cog {
	color: #777;
	font-size: 30px;
}

.btn-session-open {
	background: green !important;
}

.btn-session-close {
	background: red !important;
}

#mo, #gateway, #conditional {
	text-align: center;
}

.message {
	font-size: 18px;
	color: #eee;
}

#testcase-editor {
	color: #ddd;
    float: right;
    position: absolute;
    right: 0;
    width: 75%;
    padding-bottom: 100px;
    bottom: 0;
    top: 0;
    padding-top: 100px;
}

#learn-box {
	color: #ddd;
    float: right;
    position: absolute;
    right: 0;
    width: 75%;
    padding-bottom: 310px;
    bottom: 0;
    top: 0;
    padding-top: 100px;
}

#learn-box .status-bar{
	height: 10px;
}

#learn-bar {
    background-color: #111;
    bottom: 210px;
    color: #ddd;
    left: 25%;
    padding: 5px;
    position: fixed;
    right: 0;
    width: 75%;
    min-height: 45px;
}

#learn-bar span.glyphicon {
	font-size: 35px;
	color: green;
}

#learn-bar .mainInfo {
	float: left;
	width: 95%;
	padding: 10px;
	font-size: 16px;
	text-align: center;
}

#learn-bar .nextButton {
	position: absolute;
	bottom: 0;
	right: 10px;
}

#learn-bar .prevButton {
	float: left;
	width: 10%;
}


#learn-box textarea{
	background-color: #333;
	border: none;
	padding: 20px;
	width: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.session-edit {
	width: 265px;
	text-align: left;
}

.session-edit select {
	width: 120px !important;
}

#trade-menu {
	background: #fff;
    position: fixed;
    right: 0;
    top: 134px;
    width: 350px;
    padding-top: 20px;
    height: 100%;
}

#trade-menu .placeOrderForm{
	border-radius: 4px;
    float: left;
    margin: 0 0 10px;
    width: 100%;
    background: #eee;
    overflow: hidden;
}

#trade-menu .button-place {
	padding: 20px 10px;
	text-align: center;
}

#trade-menu .order-buy-sell-switch {
	padding: 10px;
	text-align: center;
}

#trade-menu .order-buy-sell-switch span{
	color: black;
	font-weight: bold;
	line-height: 15px;
	padding: 5px;
	font-size: 18px;
}

#trade-menu .body {
	padding: 10px;
	height: 205px;
	background: #ddd;
}

#trade-menu .form-field {
	float: left;
	width: 50%;
	padding: 3px;
}

#trade-menu input, #trade-menu select{
	width: 100%;
}

#trade-menu label{
	font-weight: normal;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

