<div id="secinfo" ng-controller="SecInfoController">
	<div class="search-box well form-inline">
			<div class="search-input">
				<input class="form-control" type="text" style="width:400px;" ng-model="search.symbol" ng-enter="search()" uppercased placeholder="Symbol"/>
			</div>
	</div>
	<div class="col-sm-12">
		<div class="add">
			<img  alt="Add SecInfo" class="add_item" src="assets/images/add.png" height="30px" ng-click="mask=true;popupOpen=true;openAddBox()"/>
		</div>
	</div>
	<div class="result_box col-sm-12">
		<table class="secinfo table table-striped">
			<colgroup>
	            <col width="20%" />
	            <col width="20%" />
	            <col width="20%" />
	            <col width="20%" />
	            <col width="20%" />
	        </colgroup>
	        <thead>
				<tr>
					<th>Symbol</th>
					<th>Floor Price</th>
					<th>Reference Price</th>
					<th>Ceil Price</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="sec in secs | filter: {symbol: search.symbol}">
					<td ng-bind="sec.symbol"></td>
					<td ng-bind="sec.floor"></td>
					<td ng-bind="sec.ref"></td>
					<td ng-bind="sec.ceil"></td>
					<td>
						<img alt="Edit" src="assets/images/remove.png" height="25px" ng-click="remove(sec)"/>
						<img alt="Edit" src="assets/images/edit.png" height="25px" ng-click="openEditBox(sec)"/>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div secinfo-add></div>
	<div id="mask" ng-show="mask"></div>
</div>