<div id="order-replace" class="popup" ng-if="replaceBoxShow" ng-cloak>
	<img src="assets/images/close.png" class="btn_close" title="Close Window" alt="Close" ng-click="closeReplaceBox()"/>
	 <div class="form-inline">
        <label for="inputPrice">Giá Mới</label>
        <input type="text" class="form-control" ng-model="orderReplace.price">
    </div>
    <div class="form-inline">
        <label for="inputQuantity">Khối Lượng Mới</label>
        <input type="text" class="form-control" ng-model="orderReplace.qty">
    </div>
	<div id="replaceButton">
		<input class="btn btn-md grey_button" type="submit" value="Replace" ng-click="replace()"/>
	</div>
</div>