<div id="account" ng-controller="AccountController">
	<div class="search-box well form-inline">
		<div class="search-input">
			<input class="form-control" type="text" style="width:400px;" ng-model="search.account" ng-enter="search()" placeholder="Số Tài Khoản"/>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="add">
			<span class="glyphicon glyphicon-plus" ng-click="mask=true;popupOpen=true;openAddBox()"></span>
		</div>
	</div>
	<div class="result_box col-sm-12">
		<div class="col-sm-12">
			<table class="account-info table table-striped">
				<colgroup>
		            <col width="8%" />
		            <col width="8%" />
		            <col width="6%" />
		            <col width="6%" />
		            <col width="6%" />
		            <col width="10%" />
		            <col width="30%" />
		            <col width="4%" />
		            <col width="15%" />
		            <col width="7%" />
		        </colgroup>
		        <thead>
					<tr>
						<th>ID</th>
						<th>Tiền Mặt</th>
						<th>T0</th>
						<th>T1</th>
						<th>T2</th>
						<th>Ký Quỹ</th>
						<th>Số Dư Chứng Khoán</th>
						<th>AfType</th>
						<th>Ứng Trước Tiền Bán</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="acc in accounts | filter: {id: search.account}">
						<td ng-bind="acc.id"></td>
						<td ng-bind="acc.balance"></td>
						<td ng-bind="acc.t0"></td>
						<td ng-bind="acc.t1"></td>
						<td ng-bind="acc.t2"></td>
						<td ng-bind="acc.hold"></td>
						<td>
							<span ng-repeat="sec in acc.secs" ng-if="$index <= 2 && sec.symbol && sec.qty">
								{{sec.symbol}}-{{sec.qty}}
								{{$last ? '' : ', '}}
								{{(!$last && $index == 2) ? '...' : ''}}
							</span>
						</td>
						<td ng-bind="acc.afType"></td>
						<td align="center" ng-bind="(acc.autoAdv == true ? 'Có' : 'Không')"></td>
						<td class="action">
							<span class="glyphicon glyphicon-remove right" ng-click="remove(acc)"></span>
							<span class="glyphicon glyphicon-pencil right" ng-click="openEditBox(acc)"></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div account-add ng-cloak></div>
	<div id="mask" ng-show="mask"></div>
</div>