<div id="monitor" ng-controller="MonitorController">
	<div class="box-name">Session Monitor</div>
	<div class="module">
		<div class="module-name">
			<span>ORS</span>
		</div>
		<div class="monitor-detail">
			HNX: <span class="session yellow" ng-class="{CLOSE:'red', OPEN:'green'}[orsSession.HNX]" ng-bind="orsSession.HNX" />
			HOSE: <span class="session yellow" ng-class="{CLOSE:'red', OPEN:'green'}[orsSession.HOSE]" ng-bind="orsSession.HOSE" />
		</div>
		<div class="setting">
			<span class="glyphicon glyphicon-cog" ng-click="openPopup('ors');$event.stopPropagation();"></span>
		</div>
		
	</div>
	<div class="module">
		<div class="module-name">
			<span>Gateway</span>
		</div>
		
		<div class="monitor-detail">
			HNX: <span class="session yellow" ng-class="{CLOSE:'red', OPEN:'green'}[gwSession.HNX]" ng-bind="gwSession.HNX" />
			HOSE: <span class="session yellow" ng-class="{CLOSE:'red', OPEN:'green'}[gwSession.HOSE]" ng-bind="gwSession.HOSE" />
		</div>
		<div class="setting">
			<span class="glyphicon glyphicon-cog" ng-click="openPopup('gateway');$event.stopPropagation();"></span>
		</div>
	</div>
	<div class="module">
		<div class="module-name">
			<span>Exchange</span>
		</div>
		<div class="monitor-detail">
			HNX: <span class="session yellow" ng-class="{CLOSE:'red', OPEN:'green'}[exSession.HNX]" ng-bind="exSession.HNX" />
			HOSE: <span class="session yellow" ng-class="{CLOSE:'red', OPEN:'green'}[exSession.HOSE]" ng-bind="exSession.HOSE" />
		</div>
        <div class="setting">
			<span class="glyphicon glyphicon-cog" ng-click="openPopup('exchange');$event.stopPropagation();"></span>
		</div>
	</div>
	<div class="session-edit popup" ng-show="popupSetSession">
		<img src="assets/images/close.png" class="btn_close" title="Close Window" alt="Close" ng-click="mask=false;popupORS=false"/>
		 
	    <div class="form-inline">
	        <label for="inputValue">Exchange</label>
	        <select class="form-control" ng-model="sessionInput.exchange">
	            <option value="HNX">HNX</option>
	            <option value="HOSE">HOSE</option>
	        </select>
	        <label for="inputValue">Session</label>
	        <select class="form-control" ng-model="sessionInput.session">
	            <option value="NEW">NEW</option>
	            <option value="OPEN">OPEN</option>
	            <option value="INTERMISSION">INTERMISSION</option>
	            <option value="CLOSE">CLOSE</option>
	        </select>
	    </div>
		<div>
			<input class="btn btn-md grey_button right" type="submit" value="Set" ng-click="setSession(sessionInput.exchange, sessionInput.session)"/>
		</div>
	</div>

	<div id="mask" ng-show="mask"></div>
</div>
