<div id="monitor" ng-controller="MonitorController">
	<div class="module">
		<div class="module-name">
			<span>ORS Session</span>
		</div>
		<div class="monitor-detail">
			HNX: <span class="session yellow" ng-class="{CLOSE:'red', OPEN:'green'}[orsSession]" ng-bind="orsSession" />
			<img alt="Replace Order" src="assets/images/setting.png" height="30px" ng-click="openORS();$event.stopPropagation();"/>
		</div>
		
	</div>
	<div class="module">
		<div class="module-name">
			<span>Gateway Session</span>
		</div>
		
		<div type="button" class="btn-session" ng-class="gwSession=='OPEN'?'btn-session-open':''" ng-click="openGatewaySession()">OPEN</div>
        <div type="button" class="btn-session" ng-class="gwSession=='CLOSE'?'btn-session-close':''" ng-click="closeGatewaySession()">CLOSE</div>
	</div>
	<div class="module">
		<div class="module-name">
			<span>Exchange Session</span>
		</div>
		<div type="button" class="btn-session" ng-class="exSession=='OPEN'?'btn-session-open':''" ng-click="openExchangeSession()">OPEN</div>
        <div type="button" class="btn-session" ng-class="exSession=='CLOSE'?'btn-session-close':''" ng-click="closeExchangeSession()">CLOSE</div>
	</div>
	<div id="ors-session-edit" class="popup" ng-show="popupORS">
		<img src="assets/images/close.png" class="btn_close" title="Close Window" alt="Close" ng-click="mask=false;popupORS=false"/>
		 
	    <div class="form-inline">
	        <label for="inputValue">Exchange</label>
	        <select class="form-control" ng-model="orsSessionInput.exchange">
	            <option value="HNX">HNX</option>
	        </select>
	        <label for="inputValue">Session</label>
	        <select class="form-control" ng-model="orsSessionInput.session">
	            <option value="NEW">NEW</option>
	            <option value="OPEN">OPEN</option>
	            <option value="CLOSE">CLOSE</option>
	        </select>
	    </div>
		<div>
			<input class="btn btn-md grey_button right" type="submit" value="Set" ng-click="setORSSession(orsSessionInput.session)"/>
		</div>
	</div>
	<div id="mask" ng-show="mask"></div>
</div>
