<div id="learn" ng-controller="LearnController">
	<div id="testcases">
		<div class="testcase">
			<div class="box-title">TestCase</div>
			<div class="box-content">
				<ul>
					<li ng-class="{selected: test.name === selectedTest}" ng-repeat="test in testcases" ng-click="setSelected(test.name)">
						{{test.name}}
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div id="learn-box" class="">
		<h4 ng-bind="testTitle"></h4>
		 <div class="content">
		 	<ul>
		 		<li ng-repeat="line in lines track by $index" ng-class="$index == curLine ? 'lineActive' : ''">
		 			{{line| split:'#':0}}
		 		</li>
		 	</ul>
		 	
		</div> 
	</div>

	<div id="learn-bar">
		<div class="prevButton">
			<img alt="Prev Step" src="assets/images/prev.png" height="90px" ng-click="prevStep()"/>
		</div>
		<div class="mainInfo">
			{{explain}}
		</div>
		<div class="nextButton">
			<img alt="Next Step" src="assets/images/next.png" height="90px" ng-click="nextStep()"/>
		</div>
	</div>

</div>