<div id="price-board" ng-controller="PriceBoardController">
	<div class="place_button">
		<input class="btn right" type="submit" value="Place Order" ng-click="openTradeMenu();"/>
	</div>
	<div class="col-sm-12" style="padding-top: 30px;">
		<table class="table table-bordered fix-header">
			<colgroup>
	            <col width="6%" />
	            <col width="5%" />
	            <col width="5%" />
	            <col width="5%" />
	            <col width="5%" />
	            <col width="5%" />
	            <col width="5%" />
	            <col width="5%" />
	            <col width="5%" />
	            <col width="5%" />
	            <col width="5%" />
	            <col width="7%" />
	            <col width="7%" />
	            <col width="5%" />
	            <col width="5%" />
	            <col width="5%" />
	            <col width="5%" />
	            <col width="5%" />
	            <col width="5%" />
	        </colgroup>
	        <thead>
				<tr>
					<th rowspan="2" class="vertical">Sym</th>
					<th rowspan="2" class="vertical">Ref</th>
					<th rowspan="2" class="vertical">Ceil</th>
					<th rowspan="2" class="vertical">Floor</th>
					<th rowspan="2" class="vertical">Total</th>
					<th colspan="6">Buy</th>
					<th colspan="2">Match</th>
					<th colspan="6">Sell</th>
				</tr>
				<tr>
					<th>PX 3</th>
					<th>Qty 3</th>
					<th>PX 2</th>
					<th>Qty 2</th>
					<th>PX 1</th>
					<th>Qty 1</th>
					<th>Match PX</th>
					<th>Match Qty</th>
					<th>PX 1</th>
					<th>Qty 1</th>
					<th>PX 2</th>
					<th>Qty 2</th>
					<th>PX 3</th>
					<th>Qty 3</th>
				</tr>
			</thead>
		</table>
		<table class="table table-bordered">
			<colgroup>
	            <col width="6%" />
	            <col width="5%" />
	            <col width="5%" />
	            <col width="5%" />
	            <col width="5%" />
	            <col width="5%" />
	            <col width="5%" />
	            <col width="5%" />
	            <col width="5%" />
	            <col width="5%" />
	            <col width="5%" />
	            <col width="7%" />
	            <col width="7%" />
	            <col width="5%" />
	            <col width="5%" />
	            <col width="5%" />
	            <col width="5%" />
	            <col width="5%" />
	            <col width="5%" />
	        </colgroup>
			<thead>
				<tr>
					<th rowspan="2" class="vertical">Sym</th>
					<th rowspan="2" class="vertical">Ref</th>
					<th rowspan="2" class="vertical">Ceil</th>
					<th rowspan="2" class="vertical">Floor</th>
					<th rowspan="2" class="vertical">Total</th>
					<th colspan="6">Buy</th>
					<th colspan="2">Match</th>
					<th colspan="6">Sell</th>
				</tr>
				<tr>
					<th>PX 3</th>
					<th>Qty 3</th>
					<th>PX 2</th>
					<th>Qty 2</th>
					<th>PX 1</th>
					<th>Qty 1</th>
					<th>Match PX</th>
					<th>Match Qty</th>
					<th>PX 1</th>
					<th>Qty 1</th>
					<th>PX 2</th>
					<th>Qty 2</th>
					<th>PX 3</th>
					<th>Qty 3</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in board">
					<td class="symbol row-focus" ng-bind="row.symbol">></td>
					<td class="ref" ng-bind="row.ref"></td>
					<td class="ceil" ng-bind="row.ceil"></td>
					<td class="floor" ng-bind="row.floor"></td>
					<td ng-bind="row.total"></td>
					<td data="{{row.buy[2].qty + row.buy[2].px}}" blink><span ng-class="updateColor(row.buy[2].px, row)" ng-if="row.buy[2].px > 0 && row.buy[2].qty > 0" ng-bind="row.buy[2].px"></span></td>
					<td data="{{row.buy[2].qty + row.buy[2].px}}" blink><span ng-class="updateColor(row.buy[2].px, row)" ng-if="row.buy[2].px > 0 && row.buy[2].qty > 0" ng-bind="row.buy[2].qty"></span></td>
					<td data="{{row.buy[1].qty + row.buy[1].px}}" blink><span ng-class="updateColor(row.buy[1].px, row)" ng-if="row.buy[1].px > 0 && row.buy[1].qty > 0" ng-bind="row.buy[1].px"></span></td>
					<td data="{{row.buy[1].qty + row.buy[1].px}}" blink><span ng-class="updateColor(row.buy[1].px, row)" ng-if="row.buy[1].px > 0 && row.buy[1].qty > 0" ng-bind="row.buy[1].qty"></span></td>
					<td data="{{row.buy[0].qty + row.buy[0].px}}" blink><span ng-class="updateColor(row.buy[0].px, row)" ng-if="row.buy[0].px > 0 && row.buy[0].qty > 0" ng-bind="row.buy[0].px"></span></td>
					<td data="{{row.buy[0].qty + row.buy[0].px}}" blink><span ng-class="updateColor(row.buy[0].px, row)" ng-if="row.buy[0].px > 0 && row.buy[0].qty > 0" ng-bind="row.buy[0].qty"></span></td>
					<td data="{{row.matchQty + row.matchPx}}" blink class="row-focus"><span ng-class="updateColor(row.matchPx, row)" ng-if="row.matchPx > 0" ng-bind="row.matchPx"></span></td>
					<td data="{{row.matchQty + row.matchPx}}" blink class="row-focus"><span ng-class="updateColor(row.matchPx, row)" ng-if="row.matchQty > 0" ng-bind="row.matchQty"></span></td>
					<td data="{{row.sell[0].qty + row.sell[0].px}}" blink><span ng-class="updateColor(row.sell[0].px, row)" ng-if="row.sell[0].px > 0 && row.sell[0].qty > 0" ng-bind="row.sell[0].px"></span></td>
					<td data="{{row.sell[0].qty + row.sell[0].px}}" blink><span ng-class="updateColor(row.sell[0].px, row)" ng-if="row.sell[0].px > 0 && row.sell[0].qty > 0" ng-bind="row.sell[0].qty"></span></td>
					<td data="{{row.sell[1].qty + row.sell[1].px}}" blink><span ng-class="updateColor(row.sell[1].px, row)" ng-if="row.sell[1].px > 0 && row.sell[1].qty > 0" ng-bind="row.sell[1].px"></span></td>
					<td data="{{row.sell[1].qty + row.sell[1].px}}" blink><span ng-class="updateColor(row.sell[1].px, row)" ng-if="row.sell[1].px > 0 && row.sell[1].qty > 0" ng-bind="row.sell[1].qty"></span></td>
					<td data="{{row.sell[2].qty + row.sell[2].px}}" blink><span ng-class="updateColor(row.sell[2].px, row)" ng-if="row.sell[2].px > 0 && row.sell[2].qty > 0" ng-bind="row.sell[2].px"></span></td>
					<td data="{{row.sell[2].qty + row.sell[2].px}}" blink><span ng-class="updateColor(row.sell[2].px, row)" ng-if="row.sell[2].px > 0 && row.sell[2].qty > 0" ng-bind="row.sell[2].qty"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="trade-menu" ng-if="placeBoxShow" ng-init="placeBoxShow = false" ng-cloak>
		<div class="placeOrderForm form-inline">
			<div class="order-buy-sell-switch">
				<a href="#" ng-click="sellClick()"><span class="glyphicon" ng-class="sellIcon">Sell</span></a>
				<a href="#" ng-click="buyClick()"><span class="glyphicon" ng-class="buyIcon">Buy</span></a>
			</div>
			<div class="body" ng-class="formColor">
				<div>
					<label>Account</label>
					<input class="form-control" type="text" name="account" ng-model="orderPlace.account"/>
				</div>
				<div class="form-field">
					<label>Symbol</label>
					<input class="form-control" type="text" name="symbol" ng-model="orderPlace.symbol" uppercased/>
				</div>
				<div class="form-field">
					<label>Quantity</label>
					<input class="form-control" type="text" name="quantity" ng-model="orderPlace.qty"/>
				</div>
				<div class="form-field">
					<label>Quantity</label>
					<select class="form-control" ng-model="orderPlace.type" ng-change="onTypeChange()">
							<option value="LO">LO</option>
							<option value="ATO">ATO</option>
							<option value="ATC">ATC</option>
							<option value="MOK">MOK</option>
							<option value="MAK">MAK</option>
							<option value="MTL">MTL</option>
							<option value="MP">MP</option>
					</select>
				</div>
				<div class="form-field">
					<label>Price</label>
					<input class="form-control" type="text" name="price" ng-model="orderPlace.price"/>
				</div>
			</div>
			<div class="button-place">
				<input type="button" class="btn btn-lg {{buttonColor}}" type="submit" value="Place Order" ng-click="place()"/>
			</div>
		</div>
	</div>
</div>