<nav class="navbar navbar-inverse">
	<div id="logo" class="navbar-header">
      	<a class="navbar-brand">SIMULATOR <span class="version">0.1</span></a>
    </div>
  	<div id="tabs" class="container-fluid">
      	<ul class="nav navbar-nav">
    		<li ng-click="onClickTab('#home')"><a href="#home" data-toggle="tab">Home</a></li>
    		<li ng-click="onClickTab('#orstab')"><a href="#orstab" data-toggle="tab">ORS</a></li>
    		<li ng-click="onClickTab('#gateway')"><a href="#gateway" data-toggle="tab">Gateway</a></li>
    		<li ng-click="onClickTab('#exchange')"><a href="#exchange" data-toggle="tab">Exchange</a></li>
    		<li ng-click="onClickTab('#test')"><a href="#test" data-toggle="tab">Test</a></li>
    		
      	</ul>
		<div class='account'>
			<span class='username'>Guest</span>
			<span class="glyphicon glyphicon-user"></span>
		</div>		
					
  	</div>
  	<div id="sub-tabs">
	  	<ul class="tab-content">
	  		<li class="tab-pane" id="home">
	  			<ul class="nav navbar-nav">
	  				<li ng-click="onClickTabHomeMonitor()"><a href="home-monitor" data-toggle="tab">Monitor</a></li>
	  				<li ng-click="onClickTabOrderBook()"><a href="orderbook" data-toggle="tab">Order Book</a></li>
            		<li ng-click="onClickTabPriceBoard()"><a href="priceboard" data-toggle="tab">Price Board</a></li>
	  			</ul>
	  		</li>
	  		<li class="tab-pane" id="gateway">
	  			<ul class="nav navbar-nav">
            		<li ng-click=""><a href="gw-orderqueue" data-toggle="tab">Order Queue</a></li>
	            </ul>
	  		</li>
	  		<li class="tab-pane" id="exchange">
	  			<ul class="nav navbar-nav">
            		<li ng-click="onClickTabExchangeOrders()"><a href="ex-orders" data-toggle="tab">Orders</a></li>
            		<li ng-click="onClickTabExchangeSecInfo()"><a href="ex-secinfo" data-toggle="tab">SecInfo</a></li>
	            </ul>
	  		</li>
	  		<li class="tab-pane" id="test">
	  			<ul class="nav navbar-nav">
            		<li ng-click="onClickTabTestManual()"><a href="test-manual" data-toggle="tab">Manual</a></li>
            		<li ng-click="onClickTabTestRobot()"><a href="test-robot" data-toggle="tab">RobotTest</a></li>
	            </ul>
	  		</li>
	        <li class="tab-pane" id="orstab">
	            <ul class="nav navbar-nav">
            		<li ng-click="onClickTabORSAccount()"><a href="ors-account" data-toggle="tab">Account</a></li>
            		<li ng-click="onClickTabORSSecInfo()"><a href="ors-secinfo" data-toggle="tab">SecInfo</a></li>
            		<li ng-click="onClickTabORSAfType()"><a href="ors-aftype" data-toggle="tab">AfType</a></li>
            		<li ng-click="onClickTabORSBasket()"><a href="ors-basket" data-toggle="tab">Basket</a></li>
	            </ul>
	        </li>
    	</ul>
    </div>
</nav>