@CHARSET "ISO-8859-1";

body, html {
	margin: 0;
	padding: 0;
	background-color: #2a2a2a;
}

html * {
    outline: 0 !important;
}

img {
	cursor: pointer;
}

.welcome {
	font-size: 200px;
	text-align: center;
}

#logo {
	width: 130px;
}

#tabs .account {
	float: right;
	padding: 10px 0;
}

#tabs .account {
	color: #eee;
	font-weight: bold;
	font-size: 13px;
}

.col-sm-12, .col-sm-3, .col-sm-8 {
    padding: 0;
}

#sub-tabs .navbar-nav > li > a {
    padding-bottom: 5px;
    padding-top: 5px;
}

#sub-tabs ul {
	margin-bottom: 0;
    margin-top: 0;
    padding-left: 65px;
}

#sub-tabs {
	height: 32px;
	border-top: 2px solid #000;
}

#wrap {
	width: 100%;
	margin: 0;
	padding: 0;
}

.form-control:focus {
	background: #eee;
}

.form-control {
	background: #eee;
}

.table-striped td{
	color: white;
}

.table-striped > thead > tr > th {
	color: white;
}

.table-bordered > tbody > tr > td, .table-bordered > thead > tr > th {
	border:1px solid #555;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #333;
   
}

#header {
	width: 100%;
	margin: auto;
	background: #000;
	height: 50px;
	padding: 0px;
}

.header_content {
	width: 90%;
	margin: auto;
	position: relative;
}

#header h1 {
	color: #fff;
	font-size: 38px;
	margin: 0;
	text-align: center;
	padding-top: 3px;
}

.navbar .dropdown-menu {
	background: #333;
}

.navbar .dropdown-menu a{
	color: white;
}
.navbar a {
	cursor: pointer;
}

.navbar {
	z-index: 9999;
}

#dock {
	position: fixed;
	bottom: 0;
	width: 95%;
	right: 2.5%;
	background-color: #222;
	padding-top: 5px;
}

#console {
	position: fixed;
	bottom: 0;
	background-color: #000;
	right: 2.5%;
	left: 27.5%;
	border-top: 2px solid #333;
	color: #ddd;
	padding: 5px;
	overflow: scroll;
}

#console p {
	padding: 0;
	margin: 0;
}

#console.small {
	height: 150px;
}

#console.large {
	height: 300px;
}

#console .resizeBox{
	position: fixed;
	right: 2.5%;
	opacity: 0.6;
}

#closeDock {
	width: 32px;
	height: 32px;
	position: absolute;
	right: -10px;
	top: -10px;
	cursor: pointer;
}

#loadingPlaceOrder {
	height: 50px;
	left: 50%;
	position: fixed;
	top: 35%;
	width: 50px;
}

#loadingPlaceOrder img {
	height: 60px;
	width: 60px;
}

#main-content {
	width: 95%;
	margin: auto;
}

.right {
	float: right;
}

.green_text {
	color: green;
	font-weight: bold;
}

.red_text {
	color: #c00000;
	font-weight: bold;
}

.green {
	color: lime;
}

.red {
	color: red;
}

.yellow {
	color: #ffcc00;
}

.green_button {
	background: green;
	border-radius: 5px;
	color: white;
}

.grey_button {
	background: #555;
	border-radius: 5px;
	color: white;
}

.red_button {
	background: #C00000;
	border-radius: 5px;
	color: white;
}

.red_color {
	color: #C00000;
}

.search-box {
	background: #333 none repeat scroll 0 0;
    border-color: #333;
    color: white;
    font-weight: bold;
    text-align: center;
}

#order-book .well{
	margin-bottom: 0px;
}

.search-box .search-input{
	display: inline;
    position: relative;
    width: 400px;
}

.search-box .search-input img{
	position: absolute;
    right: 10px;
    top: 4px;
}

#placeOrder {
	border: 1px solid #222;
	border-radius: 5px;
	text-align: center;
	color: white;
}

#placeOrder input[type="text"]{
	width: 120px;
}

#orderSell .table-bordered thead{
	border-top: 2px solid red;
}

#orderBuy .table-bordered thead{
	border-top: 2px solid green;
}

#orderBook .table-bordered thead, #price-board .table-bordered thead{
	border-top: 2px solid #ccc;
}

#orderBook table th, #orderSell table th , #orderBuy table th  {
	background-color: #333;
	text-align: center;
}

#orderBook {
	padding: 0;
}

#orderBook .action {
	text-align: center;
}

#orderBook .status{
	font-weight: bold;
}

#orderBook .action img{
	padding-left: 5px;
	cursor: pointer;
}

#orderBook td.buyBorder {
	border-left: 2px solid green;
}

#orderBook td.sellBorder {
	border-left: 2px solid red;
}

#placeOrderButton input.btn {
	position: fixed;
	bottom: 0;
	right: 2.5%;
	height: 50px;
	font-size: 18px;
	background: #222;
}

#placeOrderButton input.btn:hover {
	background: #000;
	opacity: 1;
}

#placeOrder .placeOrderForm {
	padding: 5px;
}

#placeOrder .placeOrderForm .btn, .search-box .btn{
	margin-left: 10px;
	font-weight: bold;
}

.btn:hover, .btn:focus{
	opacity: 0.8;
	color: white;
}

#info {
	border-top: 1px solid #333;
	font-size: 12px;
	text-align: left;
	float: left;
	width: 100%;
	height: 30px;
}

#info .des {
	font-style: italic;
	font-size: 10px;
}

#info .session.exclose {
	font-weight: bold;
	color: red;
	font-size: 16px;
}

#info .session.exopen {
	font-weight: bold;
	color: green;
	font-size: 16px;
}

#info .security .sym {
	font-weight: bold;
}

#info .security .floor {
	color: #00ffff;
	padding-left: 5px;
}

#info .security .ceil {
	color: #cc00ff;
	padding-left: 5px;
}

#info .exchange {
	float: left;
	padding: 2px 5px;
}

#info .account {
	float: left;
	padding: 5px 20px 5px 2px;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
}

#info .account .acc{
	font-weight: bold;
}

#info span{
	padding-left: 5px;
}

#info .security {
	float: left;
	padding: 5px 2px;
}

.loading {
	text-align: center;
	height: 20px;
	display: none;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.bold {
	background-color: #ccc;
	font-weight: bold;
}

#loadingOrder {
	width: 100%;
	text-align: center;
	height: 50px;
}

.order-sort-id {
	cursor: pointer;
	color: blue;
	height: 20px;
	overflow: hidden;
}

#mask {
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}

#order-popup {
	width: 90%;
}

#order-replace {
	width: 400px;
}

#secinfo_edit, #aftype_edit {
	width: 400px;
	color: white;
}

#basket_edit {
	width: 400px;
}

#basket #basket_edit .add{
	width: 100%;
}

#account_edit {
	width: 1000px;
	color: white;
}

#account_edit input[type=text]{
	color: black;
}

#basket_edit input[type=text]{
	width: 100px;
	color: black;
}

#account_edit .trade{
	width: 60%;
	min-height: 250px;
	float: right;
}

#account_edit .trade .action img{
	float: right;
}

#account_edit .trade .action img{
	padding-left: 5px;
	cursor: pointer;
}

#account_edit .cash{
	float: left;
    width: 40%;
}

#account_edit .trade .add{
	text-align: right;
	width: 100%;
}

#account_edit .trade .input[type=text]{
	background: #333;
	border: 0;
	color: white;
	width: 100%;
}

#account_edit .action{
	padding-top: 10px;
	text-align: right;
	width: 100%;
	float: left;
}

#set_session {
	width: 300px;
}

.popup {
	background: #333;
	padding: 10px; 	
	border: 2px solid #eee;
	float: left;
	font-size: 1.2em;
	z-index: 99999;
	width: 250px;
	border-radius:3px 3px 3px 3px;
	top: 0; left: 0;right: 0;
	margin: 10% auto;
	position: fixed;
}

#account_edit .text {
	float: left;
	width: 140px;
	padding: 7px 0;
}

#secinfo_edit label, #aftype_edit label {
	width: 105px;
	padding: 7px 0;
}

#order-replace label {
	width: 125px;
	padding: 7px 0;
}

.popup {
	color: white;
	font-size: 15px;
}

#secinfo_edit input[type=text] {
	width: 244px;
}

#aftype_edit input[type=text] {
	width: 230px;
}

#order-replace input[type=text] {
	width: 224px;
}

.cash div {
    float: left;
}

#set_session select {
	width: 188px;
	height: 25px;
	margin: 5px;
}

#replaceButton,#editButton {
	padding-top: 5px;
	text-align: right;
}

img.btn_close {
	float: right;
	margin: -20px -20px 0 0;
	border: 0px;
	cursor: pointer;
}

.invisible {
	display: none;
}

.result_box table th {
	text-align: center;
}

.result_box table.secinfo{
	width: 60%;
	margin: auto;
}

.result_box .account-info {
	margin: auto;
}

#secinfo .add, #aftype .add, #basket .add {
	text-align: right;
	width: 60%;
	margin: auto;
	cursor: pointer;
}

#account .add {
	text-align: right;
	margin: auto;
}

#account img{
	cursor: pointer;
}

.account_info .field {
	float: left;
    font-weight: bold;
    width: 180px;
}

.result_box .account_info div{
	padding: 3px;
}

.result_box img {
	padding-left: 10px;
	float: right;
	cursor: pointer;
}

.error {
	color: red;
    font-size: 13px;
    line-height: 30px;
}

.command {
	float: right;
}

.command input{
	background: #222;
	font-weight: bold;
	border: none;
}

#price-board td {
	font-size: 13px;
}

#price-board th {
	text-align: center;
	padding: 5px;
}

#price-board .symbol {
	color: #ffcc00;
	text-align: left;
}

#price-board .ref {
	color: #ffcc00;
}

#price-board .ceil {
	color: magenta;
}

#price-board .floor {
	color: cyan;
}

#price-board table {
	background-color: #333;
	color: white;
}

#price-board table td{
	padding: 5px;
	border-color: #777;
	text-align: right;
}

#price-board .vertical {
	line-height: 50px;
}

#price-board table td.row-focus {
	width: 100px;
	background:#2A2A2A;
}

#testcases {
	height: 100%;
	color: white;
	position: absolute;
	top: 0;
	bottom: 0;
	padding-top: 100px;
	width: 25%;
}

#testcases .testcase {
	height: 100%;
	border: 1px solid #333;
	overflow: scroll;
}

#testcases .testcase img{
	float: right;
}

#testcases ul {
	padding-left: 5px;
}

#testcases li {
	list-style: none;
	cursor: pointer;
	padding: 2px 0;
	border-bottom: 2px solid #2a2a2a;
}

#testcases li.selected {
	border-bottom: 2px solid #333;
}

#testcase-editor {
	color: #ddd;
    float: right;
    position: absolute;
    right: 2.5%;
    width: 70%;
}

#testcase-editor .status-bar{
	height: 10px;
}

#testcase-editor .status-bar.green{
	height: 10px;
	background-color: green;
}

#testcase-editor .status-bar.red{
	height: 10px;
	background-color: red;
}

#testcase-editor h4 {
	padding-left: 20px;
	float: left;
}

#learn-box h4{
	padding-left: 20px;
}

#learn-box .content {
	height: 400px;
}

#learn-box ul {
	list-style: none;
	padding: 0;
}

#learn-box .lineActive {
	background: #777;
}

#learn-box ul li{
	padding: 3px 10px;
}

#testcase-editor .save{
	float: right;
	padding-top: 5px;
	padding-right: 5px;
}

#testcase-editor textarea{
	background-color: #333;
	border: none;
	padding: 20px;
	width: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.box-title {
	background: #333;
	padding: 5px;
	font-weight: bold;
	color: white;
}

#robottest .box-content {
	padding: 5px;
	color: #ddd;
}

#robottest .resource {
	border: 1px solid #333;
}

#robottest .resource li{
	margin: 0;
	padding: 0;
}

#robottest .resource .return{
	color: magenta;
}

#testcase-editor .run {
	padding-bottom: 5px;
	overflow: hidden;
}

#testcase-editor .run input{
	float: right;
}

.blink {
	background-color: #ffcc00 !important;
	color: #000 !important;
}

.blink span{
	color: #000 !important;
}

#change-session {
	margin: auto;
    padding: 20px 0;
    text-align: center;
    width: 140px;
    height: 70px;
}

#change-session .btn-session{
	font-weight: bold;
	border-radius: 0px;
	background: white;
	width: 70px;
	height: 30px;
	line-height: 30px;
	float: left;
	cursor: pointer;
}

.btn-ex-open {
	background: green !important;
}

.btn-ex-close {
	background: red !important;
}

#mo, #gateway, #conditional {
	text-align: center;
}

.message {
	font-size: 18px;
	color: #eee;
}

#learn-box {
	color: #ddd;
    float: right;
    position: absolute;
    right: 2.5%;
    width: 70%;
    padding-bottom: 100px;
    bottom: 0;
    top: 0;
    padding-top: 100px;
}

#learn-box .status-bar{
	height: 10px;
}

#learn-bar {
    background-color: #111;
    border-top: 2px solid #333;
    bottom: 0;
    color: #ddd;
    left: 27.5%;
    padding: 5px;
    position: fixed;
    right: 2.5%;
    height: 100px;
    width: 70%;
}

#learn-bar .mainInfo {
	float: left;
	width: 80%;
	height: 90px;
	padding: 5px;
	font-size: 16px;
}

#learn-bar .nextButton {
	float: right;
}

#learn-box textarea{
	background-color: #333;
	border: none;
	padding: 20px;
	width: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}