<div id="basket_edit" class="popup" ng-show="popupOpen">
	<img src="assets/images/close.png" class="btn_close" title="Close Window" alt="Close" ng-click="mask=false;popupOpen=false;closeEditBox()"/>
     <div class="form-inline" ng-show="isAddBox">
        <input type="text" class="form-control" id="id" ng-model="basketDetail.id" placeholder="BasketID">
    </div>
    <table class="table">
        <colgroup>
            <col width="45%" />
            <col width="45%" />
            <col width="10%" />
        </colgroup>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in basketDetail.data">
                <td><input class="input" type="text" ng-model="data.symbol" uppercased/></td>
                <td><input class="input" type="text" ng-model="data.price" /></td>
                <td><img alt="Edit" src="assets/images/remove.png" height="20px" ng-click="removeSymbol(basketDetail.id, data.symbol)"/></td>
            </tr>
        </tbody>
    </table>

    <div class="add">
        <img  alt="Add Symbol" class="add_item" src="assets/images/add.png" height="25px" ng-click="addSymbol(basketDetail.id)"/>
    </div>
   
    <div id="editButton" ng-show="isAddBox">
        <span class="error" ng-bind="addError"></span>
        <input class="btn btn-md grey_button" type="submit" value="Add" ng-click="add()"/>
    </div>
</div>