<div id="robottest" ng-controller="RobotController">
	<div id="testcases">
		<div class="testcase">
			<div class="box-title">
				TestCase <button type="button" class="btn btn-default" ng-click="runtest()"><span class="glyphicon glyphicon-play">RUN</span></button>
			</div>
			<div class="box-content">
				<ul>
					<li ng-class="{selected: test.name === selectedTest}" ng-repeat="test in testcases" ng-click="setSelected(test.name)">
						<input type="checkbox" ng-model="test.chose" ng-true-value="true" ng-false-value="false">
						{{ test.name | limitTo: 35 }}{{test.name.length > 35 ? '...' : ''}}
						<img alt="Selected" ng-src="assets/images/circle-{{test.status}}.png" height="16px" ng-show="test.status != undefined && test.status != ''"/>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div id="testcase-editor" class="">
		<div class="run">
			<h4 ng-bind="testTitle"></h4>
			<span class="glyphicon glyphicon-play" ng-show="isClickTest" ng-click="runThisTest()"></span>
			<img class="save" alt="Save" src="assets/images/save.png" height="25px" ng-click="save()" ng-show="!isSave"/>
		</div>
		<div class="status-bar" ng-class="{'':testPass=='', 'green':testPass=='true', 'red':testPass=='false'}"></div>
		
		<div class="content">
		 	<ul>
		 		<li ng-repeat="line in lines track by $index" ng-class="$index == curLine ? 'lineActive' : ''">
		 			<div class="col1">
		 				<span class="glyphicon glyphicon-share-alt" ng-show="currentTest.index == $index + 1 && testPass == 'false'"></span>
		 				{{line| split:'#':0}}
		 			</div>
		 			<div class="col2">
		 				{{line| split:'#':1}}
		 			</div>
		 			
		 		</li>
		 	</ul>
		 	
		</div>
		
	</div>

	<div id="console" ng-class="isLarge?'large':'small'" ng-init="isLarge=false">
		<div class="glyphicon glyphicon-resize-vertical" ng-click="isLarge = !isLarge"></div>
		<div class="logData">
			<p ng-repeat="log in logData track by $index" ng-bind="log"></p>
		</div>
	</div>

</div>
<script>
	$(document).ready(function() {
		$("#console").niceScroll({cursorborder:"",cursorcolor:"#ddd",boxzoom:false});
  	});
</script>