<div id="aftype" ng-controller="AfTypeController">
	<div class="col-sm-12">
		<div class="add">
			<span class="glyphicon glyphicon-plus" ng-click="mask=true;popupOpen=true;openAddBox()"></span>
		</div>
	</div>
	<div class="result_box col-sm-12">
		<table class="secinfo table table-striped">
			<colgroup>
	            <col width="20%" />
	            <col width="60%" />
	            <col width="20%" />
	        </colgroup>
	        <thead>
				<tr>
					<th>AfType</th>
					<th>Basket</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="type in aftypes">
					<td ng-bind="type.name"></td>
					<td ng-bind="type.basket"></td>
					<td class="action">
						<span class="glyphicon glyphicon-remove right" ng-click="remove(type)"></span>
						<span class="glyphicon glyphicon-pencil right" ng-click="openEditBox(type)"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div aftype-add ng-cloak></div>
	<div id="mask" ng-show="mask"></div>
</div>